All Python Related Practice and Implementation

Variables:> is a symbolic name that references or point to an object in a memory.

In [1]:
print("heloo world")

heloo world

In [1]:
age=24

In [4]:
print("my age is:",age)
print(type(age))

my age is: 24
<class 'int'>

In [ ]:
name="Ajimullah Ansari"

In [6]:
print("My name is :",name)

My name is : Ajimullah Ansari

In [7]:
is_student=True

In [11]:
print("Am I a student? :",is_student)

Am I a student? : True

In [14]:
height=5.8

In [16]:
print("My height is :",height,"feet")

My height is : 5.8 feet

In [17]:
is_student=True
is_animals=False
is_birds=False

In [18]:
print("My name is :",name,is_student)

My name is : Ajimullah Ansari True

In [19]:
print("My name is : {name} and I am a student: {is_animals} and I am a bird: {is_birds}".format(name=name, is_animals=is_animals, is_birds=is_birds))

My name is : Ajimullah Ansari and I am a student: False and I am a bird: False

In [20]:
a=10
b=20
sum=a+b
print("The sum of a and b is :",sum)

The sum of a and b is : 30

In [21]:
status="B.tech Student"
print("The lenghth of the status is :",len(status))

The lenghth of the status is : 14

In [24]:
temperature=30.5
print(type(temperature))

<class 'float'>

In [ ]:
price=500
gst=0.18
print("the total price is :",price+price*0.18)

the total price is : 590.0

In [32]:
message="Pyhton is fun!"
print(message.upper())
print(message.lower())

PYHTON IS FUN!
pyhton is fun!

In [37]:
msg="HELLO PYTHON DEVELOPER"
print(msg.lower())

hello python developer

## Types of variables

1 integers

In [98]:
age=25
print(type(age))

<class 'int'>

2 float

In [99]:
lenght=33.9
print(type(lenght))

<class 'float'>

3 String

In [100]:
name="John"
print(type(name))

<class 'str'>

4 Boolean

In [101]:
is_student=True
print(type(is_student))

<class 'bool'>

5 List

In [102]:
numbers=[1, 2, 3, 4, 5]
print(type(numbers))

<class 'list'>

In [103]:
no_of_students=["Ajimullah", "Amit", "Ankit", "Aman"
]
print(type(no_of_students))

<class 'list'>

6 Tupple

In [104]:
prices=(100,300,400,600,800)
print(type(prices))

<class 'tuple'>

7.Dictionary

In [105]:
person={"name": "Ajimullah", "age": 24, "is_student": True}
print(type(person))

<class 'dict'>

8.Set

In [106]:
fruits={"apple","banana","cherry","orange","kiwi","melon","mango"}
print(type(fruits))

<class 'set'>

9.None

In [107]:
result=None
print(type(result))

<class 'NoneType'>

10.Complex

In [108]:
complex_number=2+5j
print(type(complex_number))

<class 'complex'>

Type Casting

In [109]:
age=25
print(float(age))

25.0

In [110]:
age=25.5
print(int(age))

25

In [111]:
string_value="123"
print(int(string_value))

123

In [112]:
value="3.14"
print(float(value))

3.14

In [113]:
abs_value=99.99
print(int(abs_value))

99

Q1. You have the string "25" stored in variable a. Convert it to an integer and add 10 to it. Print the result.

In [114]:
value="25"
print(int(value)+10)

35

Q2. Convert this list of strings to integers:
numbers = ["1", "2", "3", "4"]
Store the result in a new list and print it.

In [115]:
numbers=["1","2","3","4"]
print(int(numbers[0]),int(numbers[1]),int(numbers[2]),int(numbers[3]))

1 2 3 4

 Q3.Convert boolean values to integers and floats. What will be the result of:

In [116]:
is_boolean=True
print(int(is_boolean), float(is_boolean))

1 1.0

In [117]:
x=5
y="3.5"
z=float(y)
print(x+z)

8.5

Q3. You have a string value = "abc123". Try to convert it to an integer. What error occurs? How can you handle it?

In [118]:
value="abc123"
try:
    num_value=int(value)
    print("Converted value:",num_value)
except ValueError:
        print("Error: Cannot convert string to integer")

Error: Cannot convert string to integer

Because of non numeric character that donot convert like this ok

Q5.Write a program that converts only the valid numbers to integers and skips the non-numeric values
data = ["10", "twenty", "30", "40"]

In [119]:
data=["10", "twenty", "30", "40"]
converted = []
for item in data:
    try:
        num=int(item)
        converted.append(num)
    except ValueError:
        pass
    print("Converted List",converted)

Converted List [10]
Converted List [10]
Converted List [10, 30]
Converted List [10, 30, 40]

Data Structure in Python

Stack->Last item added is first one to be removed [Lifo].

Heap-> follow the first in first out [fifo].

Tree-> It is hierarchical data structure that consists of nodes,where each nodes has at most two children,referred to as the left child and the right child.

Linked List-> Linked list are helpful when you need dynamic storage that can grow or shrink easily.
this can be modify.

Doubly Linked List-> A doubly linked list is similar to a linked list,but each node has a reference to both the next and previous node.

Graph-> A graph is a collection of nodes(vertices) and edges that connect pair of nodes.Graph are widely used to represent network or relationship bt object.

Sequence in Python

A sequence in python refers to an ordered collection of items, wherre each item can be accessed by its position(index) in the sequence.

1.Lenght of a sequence

In [120]:
my_list=[1,2,3,4,5]
print("The length of my_list is:", len(my_list))

The length of my_list is: 5

always start with 1 remember it plz.

2.Membership Test

You can check if an element is present in a sequence using the in and not in operations.

In [121]:
fruits=["apple", "banana", "cherry"]
print("apple" in fruits)
print("mango" in fruits)

True
False

3.Cocatenation

In [122]:
list1=[1, 2, 3]
list2=[4, 5, 6]
combined_list=list1 + list2
print("Combined List:", combined_list)

Combined List: [1, 2, 3, 4, 5, 6]

In [123]:
list1=[1, 2, 3]
print("the double of list1 is:", list1*2)

the double of list1 is: [1, 2, 3, 1, 2, 3]

Indexing

Type of Sequence that Support indexing.
Strings: A sequence of character.
List: Asequence of item that can be any type.
Tupple: A sequence of immutable item.
example....int,float,bool,tupple etc

Array: A collection of simillar data type.
example:> 1d, 2d, 3d etc

In [124]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0][0])  # Accessing the first element of the first row
print(matrix[1][2])  # Accessing the third element of the second row
print(matrix[2][1])  # Accessing the second element of the third row
print(matrix[0][2])  # Accessing the third element of the first row

1
6
8
3

Slicing

In [125]:
my_strings="Hello, World!"
print(my_strings[:])  # Slicing from index 0 to 4

Hello, World!

In [127]:
my_strings="Hello, World!"
print(my_strings[:])  # Slicing from index 0 to 4
print(len(my_strings))
print(my_strings[:-1])
print(my_strings[-1:])  # Slicing from index 0 to 4

Hello, World!
13
Hello, World
!

important...>>>Sequence[start:stop:step] that is the important things.

In [128]:
my_data="Python is fun for ajim!"
print(my_data[::2])

Pto sfnfrai!

In [141]:
my_list=[1,2,3,10,4,5,55,66,90]
print(my_list[0:66:2])  # Slicing the list to get every second element
print(my_list[1::2])  # Slicing the list to get elements

[1, 3, 4, 55, 90]
[2, 10, 5, 66]

In [142]:
my_list1=[1,2,3,4,5,6,7,8,9,10]
print(my_list1[0:9:1])  # Slicing the list to get the first three elements

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list are mutable right.

In [147]:
list3=["Ajimullah", "Amit", "Ankit", "Aman","Ajimullah"]
print("list3 is mutable, we can change its elements.",list3[4]=="Manit",list3)

list3 is mutable, we can change its elements. False ['Ajimullah', 'Amit', 'Ankit', 'Aman', 'Ajimullah']

In [149]:
list3=["Ajimullah", "Amit", "Ankit", "Aman","Ajimullah"]
list3[4]="Manit"
print(list3)

['Ajimullah', 'Amit', 'Ankit', 'Aman', 'Manit']

Range Function to make list

In [151]:
list4=range(1, 11)
print(list(list4))  # Convert range object to list and print it
print(type(list4))  # Check the type of list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'range'>

In [152]:
list4=range(1, 110, 2)
print(list(list4))  # Convert range object to list and print it
print(type(list4))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109]
<class 'range'>

Control Flow Statement

1.if,elif,else......conditional statement
2.for and while loops(iterative element)
3.break, continue and pass statement
4.try,except,finally statement(exceptional handling)

In [154]:
age=24
if age > 18:
    print("You are a minor.")

You are a minor.

In [159]:
age=24
if age <= 18:
    print("You are a minor.")
else:
         print("You are an adult.")

You are an adult.

In [160]:
age=24
if age <= 18:
    print("You are a minor.")
elif age>18 and age <50:
    print("You are a young adult.")
else:
    print("You are an adult.")

You are a young adult.

If ,else ,elif with logical operators.

Example with not

In [162]:
is_raining=True
if not is_raining:
    print("You can go outside without an umbrella.")
else:
    print("You should take an umbrella with you.")

You should take an umbrella with you.

Loop in Python.

 1. Print all even numbers from 1 to 20.

In [163]:
for i in range(1, 21):
    if i % 2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

2. Loop through a string and count vowels

In [168]:
text="Engineering"
vowels=0
for char in text.lower():
    if char in "aeiou":
        vowels += 1
        print("Total no of vowels in the text:", vowels)

Total no of vowels in the text: 1
Total no of vowels in the text: 2
Total no of vowels in the text: 3
Total no of vowels in the text: 4
Total no of vowels in the text: 5

3. Create a multiplication table (e.g., for 7)

In [169]:
num=2
for i in range(1, 11):
    print(i*num)

2
4
6
8
10
12
14
16
18
20

Loop through Dictionary

In [170]:
students={"Ajimullah": 24, "Amit": 22, "Ankit": 23}
for student,age in students.items():
    print(student, "is", age, "years old.")

Ajimullah is 24 years old.
Amit is 22 years old.
Ankit is 23 years old.

Sum all the Element in list

In [176]:
nums=[1, 2, 3, 4, 5]
total_sum=0
for num in nums:
    total_sum += num
print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 15

While Loop

In [177]:
password=""
while password != "Abcd123":
    password = input("Enter the password: ")
    if password == "Abcd123":
        print("Access granted!")
    else:
        print("Incorrect password, try again.")

Incorrect password, try again.
Incorrect password, try again.
Access granted!

Q7. Countdown timer from 10 to 1.

In [178]:
i=10
while i > 0:
    print(i)
    i -= 1
    print("Countdown complete!")
print("Countdown timer from 10 to 1 completed.")

10
Countdown complete!
9
Countdown complete!
8
Countdown complete!
7
Countdown complete!
6
Countdown complete!
5
Countdown complete!
4
Countdown complete!
3
Countdown complete!
2
Countdown complete!
1
Countdown complete!
Countdown timer from 10 to 1 completed.

Q. Find the first number divisible by both 3 and 7

In [179]:
num=1
while True:
    if num%3==0 and num % 7==0:
        break
    num+=1
    print("First number divisible by 3 and 7 is:",num)

First number divisible by 3 and 7 is: 2
First number divisible by 3 and 7 is: 3
First number divisible by 3 and 7 is: 4
First number divisible by 3 and 7 is: 5
First number divisible by 3 and 7 is: 6
First number divisible by 3 and 7 is: 7
First number divisible by 3 and 7 is: 8
First number divisible by 3 and 7 is: 9
First number divisible by 3 and 7 is: 10
First number divisible by 3 and 7 is: 11
First number divisible by 3 and 7 is: 12
First number divisible by 3 and 7 is: 13
First number divisible by 3 and 7 is: 14
First number divisible by 3 and 7 is: 15
First number divisible by 3 and 7 is: 16
First number divisible by 3 and 7 is: 17
First number divisible by 3 and 7 is: 18
First number divisible by 3 and 7 is: 19
First number divisible by 3 and 7 is: 20
First number divisible by 3 and 7 is: 21

 Q.Simulate login with 3 attempts

In [180]:
correct = "python123"
attempt = 0

while attempt < 3:
    pwd = input("Enter password: ")
    if pwd == correct:
        print("Login successful!")
        break
    else:
        print("Wrong password")
        attempt += 1
else:
    print("Too many attempts! Locked.")

Wrong password
Login successful!

Break and Continue Statement

In [182]:
cup_of_chai=0
while cup_of_chai < 5:
    cup_of_chai += 1
    print("Drinking cup of chai number:", cup_of_chai)
    if cup_of_chai == 3:
        print("Taking a break after cup 3.")
        break
    print("Finished cup of chai number:", cup_of_chai)

Drinking cup of chai number: 1
Finished cup of chai number: 1
Drinking cup of chai number: 2
Finished cup of chai number: 2
Drinking cup of chai number: 3
Taking a break after cup 3.

Range Function in a loop

In [183]:
#Serving 5 cup of chai
for cup in range(1,6):
    print("cup of chai is served:", cup)

cup of chai is served: 1
cup of chai is served: 2
cup of chai is served: 3
cup of chai is served: 4
cup of chai is served: 5

Infinite Loops

In [185]:
while True:
    print("This is an infinite loop. Press Ctrl+C to stop it.")
    break# You can add a break condition here if needed

This is an infinite loop. Press Ctrl+C to stop it.

In [186]:
count = 0
while True:
    print("This is an infinite loop. Press Ctrl+C to stop it.")
    count += 1
    if count >= 5:  # Example condition to break the loop after 5 iterations
        break

This is an infinite loop. Press Ctrl+C to stop it.
This is an infinite loop. Press Ctrl+C to stop it.
This is an infinite loop. Press Ctrl+C to stop it.
This is an infinite loop. Press Ctrl+C to stop it.
This is an infinite loop. Press Ctrl+C to stop it.

Pass Statement

In [ ]:
count = 0
while True:
    print("This is an infinite loop. Press Ctrl+C to stop it.")
    count += 1
    if count >= 5:  # Example condition to break the loop after 5 iterations
        pass

In [ ]:
count = 0
while True:
    print("This is an infinite loop. Press Ctrl+C to stop it.")
    count += 1
    if count >= 5:  # Example condition to break the loop after 5 iterations
        continue
    print("This is an infinite loop. Press Ctrl+C to stop it.")

# Most important try,except and finally statements

these are used to handle exceptions(error) thaat may occur during code execution

try block contain code that might raise an exception.

except handles the exception.

Example:

In [193]:
number1= 10
number2= 0/number1
try:
    print("The result is:", number2)
except ZeroDivisionError:
    print("An error occurred: Division by zero is not allowed.")
finally:
        print("This block always executes, regardless of whether an exception occurred or not.")

The result is: 0.0
This block always executes, regardless of whether an exception occurred or not.

# Function in Python

It is a block of code that is reused when it is required, then ustilise them.

### built-in Function

In [194]:
price=100
gst=0.18
shipping=10
print(max(price, gst, shipping))  # Example of using max function
print(min(price, gst, shipping))  # Example of using min function
print(abs(price))  # Example of using abs function
print(round(price, 1))  # Example of using round function

100
0.18
100
100

In [ ]:
price6 = [100, 200, 3, 400, 600]
mean_value =sum(price) / len(price)
print(max(price6))       # Example of using max function
print(min(price6))       # Example of using min function
print(mean_value6)       # Example of using mean function

## User define function

In pyhton , you define a function using the def keyword followed by the function name,parentheses for input parameters and a colon:
the function body is defined.

def function_name(parameters):
"""
optional describe the function
"""
return result

In [ ]:
def greet(name):
    """
    This function greets the person with the given name.
    """
    print("Hello, " + name + "aslamualaikum")  # Example of using print function

In [213]:
greet("vilal")  # Calling the function with a name

Hello, vilalaslamualaikum

'Hello, vilal!'

In [222]:


def mean_of_list(numbers):
    if len(numbers) == 0:
        return 0
    return sum(numbers) / len(numbers)

price = [200, 300, 400, 600, 800]
print(mean_of_list(price))

460.0

In [223]:
def add_numbers(a, b,c):
    """
    This function adds two numbers and returns the result.
    """
    return a + b+c

In [224]:
add_numbers(5, 10, 15)  # Example of calling the function with three arguments

30

In [239]:
def introduce(name, age):
    """
    This function introduces a person with their name and age.
    """
    print("hello, my name is " + name + " and I am " + str(age) + "years old.")

In [240]:
introduce("Ajimullah", 24)  # Example of calling the function with name and age

hello, my name is Ajimullah and I am 24years old.

## Function without parameters

In [241]:
def say_hello():
    """
    This function prints a greeting message.
    """
    print("Hello, Developer!")

In [242]:
say_hello()

Hello, Developer!

In [3]:
def say_developer(name):
    """
    This function prints a message about being a developer.
    """
    print("Hello, I am a developer! and my name is " + name +"and I am a university student from gkp.  " )

In [4]:
say_developer("Ajimullah Ansari")  # Example of calling the function with a name

Hello, I am a developer! and my name is Ajimullah Ansariand I am a university student from gkp.

## Lambda Function

syntax-->>>>
Lambda arguments: expression

In [ ]:
def add(x,y):
    return x + y
add_lambda = lambda x, y: x + y  # Example of a lambda function
print(add_lambda(5, 10))  # Calling the lambda function with two arguments

15

## User Input

In [ ]:
age=input("Enter your age: ")
print("Your age is:", age)

Your age is: 66

In [ ]:
cell_no=input("Enter your cell number: ")
print("Your cell number is:", cell_no)

In [15]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))  
num3=float(input("Enter third number: "))
print("The sum of the three numbers is:", num1 + num2 + num3)
print("The final result is:", num1 + num2 + num3)

The sum of the three numbers is: 465.0
The final result is: 465.0

In [18]:
nationality=input("Enter your nationality: ")
if nationality == "India":
   print("Wellcome to India, Aslamualaikum Dear ")
else:
    print("Welcome to the world, Aslamualaikum Dear ")

Welcome to the world, Aslamualaikum Dear